.header {
    grid-area: header;
    height: 100px;
}
.menu {
    grid-area: menu;
    height: 1000px;
}
.main {
    grid-area: main;
    height:850px ;
}
.right {
    grid-area: right;
}
.footer {
    grid-area: footer;
    height: 100px;
}
.grid-container { 
    display: grid; 
    grid-template-areas: 'header header header header header'
    'menu main main main right'
    'menu footer footer footer footer';
    gap: 10px;
    background-color: bisque;
    padding: 10px;
    width: 99%;
    
}
.grid-container>div {
    background-color: azure;
    text-align: center;
    padding: 20px 0;
   
    
}
h1 {
    margin: auto;
    text-align: center;
    height: 50px;
}
